<div class="footer">
  <p>Made with <i class="fa fa-heart declined"></i> at Le Wagon Montréal</p>
  <ul class="list-inline list-unstyled">
    <a href="https://github.com/v-bianchi"><li><i class="fab fa-github"></i> v-bianchi</li></a>
    <a href="https://github.com/Claire2133"><li><i class="fab fa-github"></i> Claire2133</li></a>
    <a href="https://github.com/alexanderlomholt"><li><i class="fab fa-github"></i> alexanderlomholt</li></a>
    <a href="https://github.com/bradymichael27"><li><i class="fab fa-github"></i> bradymichael27</li></a>
  </ul>
  <p><strong>DISCLAIMER</strong>: this website was created as an assignment for a coding bootcamp. Its purpose is to show our full-stack development skills in a playful way. We do not endorse the purchase or rental of wild capybaras in countries where it is outlawed.</p>
</div>

