
body {
  font-family: "Montserrat";
}

.white-box {
  background-color: white;
  padding: 15px;
  margin: 30px 0px 0px 0px;
  position: relative;
  height: 400px;
  border: dashed 1px #484848;
  border-radius: 3px;
  h3 {
    margin-top: 5px;
  }
}
.product-picture {
  border-radius: 3px;
  width: 90%;
  height: 190px;
  margin: 0 auto;
  background-size: cover;
  position: relative;
  z-index: 0; position: relative;

}

.card-description {
  color: #484848;
  text-align: center;
  h2 {
    font-size: 18px;
  }
}

.card-price {
  color: #484848;
  text-align: center;
  h2 {
    font-size: 18px;
  }
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.product-btn {
  display: block;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.main-btn {
  padding: 10px 20px;
  background-color: white;
  color: #484848;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s;
  bottom: 15px;
  left: 35px;
  position: absolute;
  width: 80%;
  border: solid 0.5px #484848;
}

.sold-icon-available {
  padding: 15px;
  background-color: #3AB696;
  border-radius: 50px;
  position: absolute;
  top:20px;
  right: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transform: rotate(45deg);
  z-index: 400;
}


.sold-icon-not-available {
  padding: 15px;
  background-color: #CD1F25;
  border-radius: 50px;
  position: absolute;
  top: 30px;
  right: -10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  z-index: 400;
  transform: rotate(45deg);

}

