<div class="container">
  <h1><%= @product.title %></h1>
  <%= cl_image_tag @product.picture %>
  <br>
  <p><%= @product.description %></p>
  <h3>Reviews</h3>
  <% @product.reviews.each do |elt| %>
  <li class="list-group-item">
    <h4>
      <% elt.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
    </h4>
    <p><%= elt.content %></p>
  </li>
  <% end %>

</div>
